<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Jack Dorsey</string>
		<key>imageName</key>
		<string>jack</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tristan O&apos;Tierney</string>
		<key>imageName</key>
		<string>tristan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dan Barry</string>
		<key>imageName</key>
		<string>dan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mike Lewis</string>
		<key>imageName</key>
		<string>mike</string>
	</dict>
</array>
</plist>
